html
    head
        title Decryption failed
    body
        p
            a(href= '/') 
                img(src="/banner.jpg" width="13%" height="10%")
        p
            h2 Decryption Failed
            h3 wrong key
        form(action= '/search' method='get')
            button(type="submit") retry