html
    head
        title Error!!
    body
        p
            a(href= _root) 
                img(src="/banner.jpg" width="13%" height="10%")
        a(href= '/')
            input(type="button" value="go to home")