html
    head
        title homepage
    body
        p
            a(href= _root) 
                img(src="/banner.jpg" width="13%" height="10%")
        a(href= _root+"/login")
            input(type="button", value="login")
        
        