html
    head
        title Join failed
    body
        p
            a(href= '/') 
                img(src="/banner.jpg" width="13%" height="10%")
        p
            h2 Join failed
        form(action= _root+'/join' method='get')
            button(type="submit") retry