html
    head
        title login page
    body
        p
            a(href= _root) 
                img(src="/banner.jpg" width="13%" height="10%")
        form(action= _root+'/login/process', method="post")
            table(cellpadding="0" cellspacing="0")
                tr
                    td
                        table(width="350" bgcolor="#d0d4dd" border="0" cellpadding="5" cellspacing="1")
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") id
                                td
                                    input(width="250" type="text" name="id" placeholder="id")
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") password
                                td
                                    input(width="250" type="password" name="password" placeholder="password")
                tr
                    td(align="center")
                        <br>
                        input(type="submit" value="login")
                        a(href = '/join' style="text-decoration:none")
                            input(type="button" value="join")