html
    head
    body
        p
            a(href= '/') 
                img(src="/banner.jpg" width="13%" height="10%")
        form(action = '/save/request' method='post' enctype="multipart/form-data")
            table(cellpadding="0" cellspacing="0")
                tr
                    td
                        table(width="350" bgcolor="#d0d4dd" border="0" cellpadding="5" cellspacing="1")
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") id
                                td
                                    input(type='text' name='patientSSN' value= _patientSSN)
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") name
                                td
                                    input(type='text' name='patientName' value= _patientName) 
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") sex
                                td
                                    input(type='text' name='sex' value= _sex)
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") birth
                                td
                                    input(type='text' name='birth' value= _birth)
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") phone
                                td
                                    input(type='text' name='phone' value= _phone)
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") file
                                td
                                    input(type="file", name="imageFile")
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80" height="100") description
                                td
                                    input(type="textfield" name="description" style="height:100px; width:250px")
                            tr(bgcolor="ffffff")
                                td(bgcolor="f5f5f5" width="80") key
                                td
                                    input(type="text" name='key' placeholder='key')               
                tr
                    td(align="center")
                        <br>
                        input(type="submit" value="save")